# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Saídas de build
*.war

# Lógica em C (binários gerados)
logica-c/*.o
logica-c/*.so
logica-c/*.dll
logica-c/*.dylib

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
