<section class="tela-grafo">
  <div class="acoes">
    <button class="btn-primary" routerLink="/cadastro-no">Cadastrar Nó</button>
    <button class="btn-primary" routerLink="/cadastro-aresta">Cadastrar Aresta</button>
    <button class="btn-secondary" (click)="carregarGrafo()">Atualizar</button>
  </div>

  <div *ngIf="carregando" class="mensagem">Carregando grafo...</div>

  <div *ngIf="erro" class="mensagem erro">{{ erro }}</div>

  <div *ngIf="!carregando && !erro && grafoVazio" class="mensagem">
    O grafo ainda não possui elementos cadastrados.
  </div>

  <div
    #canvas
    class="canvas-grafo"
    [class.oculto]="carregando || erro || grafoVazio">
  </div>
</section>
